body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 3em 5em;
}

header {
    border-bottom: 1px #c0c0c0 solid;
    margin: 0 0 1em 0;
    padding: 0;
}

section#ranking {
    position: absolute;
    top: 3.5em;
    right: 5em;
    padding: 1.5em;
    background: #fff;
    border: 1px #c0c0c0 solid;
}

section#ranking h2 {
    margin-top: 0;
    padding-top: 0;
}

table {
    border: 1px #c0c0c0 solid;
    border-collapse: collapse;
}

table tr td {
    border: 1px #c0c0c0 solid;
    padding: 0.2em;
    text-align: right;
}

table tr th, #step4 table tr > :first-child {
    background: #c0c0c0;
    border: 1px #c0c0c0 solid;
    color: #fff;
    padding: 0.4em;
}

table tr#player_names th {
    width: 100px;
}

table tr#player_names > th:first-child {
    width: auto;
}

table tr#total_points th {
    background: #fff;
    color: #58d;
}

table#points_table tr td input {
    border: none;
    width: 90%;
    height: 100%;
    background: #f98;
    text-align: center;
}

table tr#total_points th.leader {
    background: #bbffbb;
}